{
    "extends": [
        "react-app",
        "prettier"
    ],
    "plugins": [
        "prettier"
    ],
    "rules": {
        "semi": ["error", "never"],
        "space-before-function-paren": ["error", "always"],
        "space-before-blocks": [ "error", "always" ]
    }
}
