.top-banner {
  position: relative;
  display: inline-block;
}

.Banner>.top-banner>.background-image {
  height: auto;
  width: 100%;
}

.top-banner>.description {
  position: absolute;
  left: 60%;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}

.top-banner>.description>.text-subtitle {
  font-weight: 500;
  text-align: justify;
}

@media screen and (min-width: 320px) {
  .Banner>.top-banner>.description>h1 {
    font-size: 10pt;
    font-weight: bold;
  }
  .Banner>.top-banner>.description>h6 {
    font-size: 8pt;
  }
}

@media screen and (min-width: 425px) {
  .Banner>.top-banner>.description>h1 {
    font-size: 12pt;
    font-weight: bold;
  }
  .Banner>.top-banner>.description>h6 {
    font-size: 10pt;
  }
}

@media screen and (min-width: 768px) {
  .Banner>.top-banner>.description>h1 {
    font-size: 22pt;
    font-weight: bold;
  }
  .Banner>.top-banner>.description>h6 {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1024px) {
  .Banner>.top-banner>.description>h1 {
    font-size: 30pt;
    font-weight: bold;
  }
  .Banner>.top-banner>.description>h6 {
    font-size: 18pt;
  }
}

@media screen and (min-width: 1440px) {
  .Banner>.top-banner>.description>h1 {
    font-size: 44pt;
    font-weight: bold;
  }
  .Banner>.top-banner>.description>h6 {
    font-size: 24pt;
  }
}

@media screen and (min-width: 2560px) {
  .Banner>.top-banner>.description>h1 {
    font-size: 78pt;
    font-weight: bold;
  }
  .Banner>.top-banner>.description>h6 {
    font-size: 34pt;
  }
}
