.Practices {
  display: flex;
  background: #fff;
  padding-bottom: 40px;
  flex-wrap: wrap;
  justify-content: center;
}

.Practices>.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.Practices>.title>.text>h1 {
  font-weight: bold;
  letter-spacing: 0.4em;
}

@media screen and (min-width: 320px) {
  .Practices>.title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .Practices>.title>.text>h1 {
    font-size: 20pt;
  }
  .Practices>.description>.Practice>h3 {
    font-size: 16pt;
    font-weight: normal;
  }
}

@media screen and (min-width: 425px) {
  .Practices>.title>.text>h1 {
    font-size: 20pt;
  }
  .Practices>.description>.Practice>h3 {
    font-size: 18pt;
    font-weight: normal;
  }
}

@media screen and (min-width: 768px) {
  .Practices>.title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 60px;
    text-align: start;
  }
  .Practices>.title>.text>h1 {
    font-size: 22pt;
  }
  .Practices>.description>.Practice>h3 {
    font-size: 18pt;
    font-weight: normal;
  }
}

@media screen and (min-width: 1024px) {
  .Practices>.title>.text>h1 {
    font-size: 30pt;
  }
  .Practices>.description>.Practice>h3 {
    font-size: 18pt;
    font-weight: normal;
  }
}

@media screen and (min-width: 1440px) {
  .Practices>.title>.text>h1 {
    font-size: 44pt;
  }
  .Practices>.description>.Practice>h3 {
    font-size: 26pt;
    font-weight: normal;
  }
}

@media screen and (min-width: 2560px) {
  .Practice {
    padding: 60px;
  }
  .Practices>.title>.text>h1 {
    font-size: 60pt;
  }
  .Practices>.description>.Practice>h3 {
    font-size: 34pt;
    font-weight: normal;
  }
}
