.ServiceTitle {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #FAFAFA;
  background: radial-gradient(circle at center, #03375F 0%, #181A41 100%);
  padding: 60px;
}

.ServiceTitle>.icon>img {
  height: 150px;
}

.ServiceTitle>.title>h1 {
  font-weight: bold;
  text-align: center;
}
