.Service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 38px;
}

.Service>.name>h3 {
  font-weight: bold;
}

.Service:hover {
  animation: fadein 0.75s;
  -moz-animation: fadein 0.75s;
  -webkit-animation: fadein 0.75s;
  -o-animation: fadein 0.75s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (min-width: 320px) {
  .Service>.iconImage>img {
    height: 80px;
  }
  .Service>.name>h3 {
    font-size: 20pt;
  }
  .Service>.description>h6 {
    font-size: 12pt;
  }
}

@media screen and (min-width: 425px) {
  .Service>.iconImage>img {
    height: 80px;
  }
}

@media screen and (min-width: 768px) {
  .Service>.iconImage>img {
    height: 90px;
  }
  .Service>.name>h3 {
    font-size: 24pt;
  }

  .Service>.description>h6 {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1024px) {
  .Service>.iconImage>img {
    height: 90px;
  }
}

@media screen and (min-width: 1440px) {
  .Service>.iconImage>img {
    height: 110px;
  }
}

@media screen and (min-width: 2560px) {
  .Service>.iconImage>img {
    height: 130px;
  }
  .Service>.name>h3 {
    font-size: 30pt;
  }

  .Service>.description>h6 {
    font-size: 20pt;
  }
}
