@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.Client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.Client>.outer-frame {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90%;
  width: 90%;
  border-radius: 50%;
  box-shadow: 0 0 0 3px #08EBE2;
}

.Client>.outer-frame>.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 85%;
  background: #FFF;
  border-radius: 50%;
  box-shadow: 0 0 0 6px #FFF;
}

.Client>.outer-frame>.wrapper>img {
  height: auto;
  width: 90%;
}
