.CenterTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 60px 40px 60px;
}

.CenterTitle>h1 {
  font-weight: bold;
  letter-spacing: 0.4em;
  text-align: center;
}

@media screen and (min-width: 320px) {
  .CenterTitle>h1 {
    font-size: 22pt;
  }
}

@media screen and (min-width: 425px) {
  .CenterTitle>h1 {
    font-size: 22pt;
  }
}

@media screen and (min-width: 768px) {
  .CenterTitle>h1 {
    font-size: 32pt;
  }
}

@media screen and (min-width: 1024px) {
  .CenterTitle>h1 {
    font-size: 38pt;
  }
}

@media screen and (min-width: 1440px) {
  .CenterTitle>h1 {
    font-size: 46pt;
  }
}

@media screen and (min-width: 2560px) {
  .CenterTitle>h1 {
    font-size: 56pt;
  }
}
