.Member {
  box-shadow: 0 0 0 2px #9D9D9D;
  background: #FFF;
  width: 250px;
  height: 320px;
}

.Member>.profile-wrapper>img {
  width: 250px;
  height: auto;
}

.Member>.hover {
  animation: fadein 0.75s;
  -moz-animation: fadein 0.75s;
  -webkit-animation: fadein 0.75s;
  -o-animation: fadein 0.75s;
}

.Member>.normal {
  animation: fadein-normal 0.75s;
  -moz-animation: fadein-normal 0.75s;
  -webkit-animation: fadein-normal 0.75s;
  -o-animation: fadein-normal 0.75s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadein-normal {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-moz-keyframes fadein-normal {
  /* Firefox */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fadein-normal {
  /* Safari and Chrome */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-o-keyframes fadein-normal {
  /* Opera */
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

