.Contact {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  margin-top: 40px;
  padding: 0 0 0 0;
}

.Contact > .map {
  padding: 0px;
}

.Contact>.detail {
  color: #EEE;
  background: linear-gradient(45deg, #181A41, #03375F);
}

@media screen and (min-width: 320px) {
  .Contact>.detail {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  .map {
    height: 500px;
  }
}

@media screen and (min-width: 1024px) {
  .Contact>.detail {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 8em;
  }
  .map {
    height: 600px;
  }
}
