.ContactDetail>h1 {
  letter-spacing: 0.4em;
  font-weight: bold;
}

@media screen and (min-width: 425px) {
  .ContactDetail>h1 {
    font-size: 24pt;
  }
  .ContactDetail>h3 {
    font-size: 18pt;
  }
  .ContactDetail>h5 {
    font-size: 14pt;
  }
}

@media screen and (min-width: 768px) {
  .ContactDetail>h1 {
    font-size: 32pt;
  }
  .ContactDetail>h3 {
    font-size: 26pt;
  }
  .ContactDetail>h5 {
    font-size: 18pt;
  }
}

@media screen and (min-width: 1024px) {
  .ContactDetail>h1 {
    font-size: 30pt;
  }
  .ContactDetail>h3 {
    font-size: 22pt;
  }
  .ContactDetail>h5 {
    font-size: 16pt;
  }
}

@media screen and (min-width: 1440px) {
  .ContactDetail>h1 {
    font-size: 32pt;
  }
  .ContactDetail>h3 {
    font-size: 22pt;
  }
  .ContactDetail>h5 {
    font-size: 16pt;
  }
}

@media screen and (min-width: 2560px) {
  .ContactDetail>h1 {
    font-size: 36pt;
  }
  .ContactDetail>h3 {
    font-size: 22pt;
  }
  .ContactDetail>h5 {
    font-size: 18pt;
  }
}
