.Client {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 150px;
  width: 150px;
}

.Client>.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  background: #FFF;
  width: 85%;
  border-radius: 50%;
  border: 4px solid rgba(100%, 100%, 100%, 0.0);
  box-shadow: 0 0 0 3px #08EBE2;
}

.Client>.wrapper>img {
  height: auto;
  width: 90%;
}
