  @media only screen and (max-width: 425px) {
  .CompanyName {
    flex:  0 0 100%;
    display: flex;
    align-items: center;
    color: #EEEEEE;
  }
}

.CompanyName {
  display: flex;
  flex: 3;
  align-items: center;
  color: #EEEEEE;
}
