* {
  font-family: 'Montserrat', 'sans-serif';
}

.App {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.App>.containers {
  padding: 0;
  margin: 80px 0 0 0;
  width: 100%;
}
