@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

* {
  font-family: 'Montserrat', 'sans-serif';
}

.App {
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.App>.containers {
  padding: 0;
  margin: 0;
  width: 100%;
}
