.Work {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@media only screen and (max-width: 768px) {
  .Work {
    border-bottom: 1px solid #e2e2e2;
  }
}

@media only screen and (min-width: 1024px) {
  .Work {
    margin: 16px;
  }
}

.Work>.preview-image {
  flex-grow: 1;
  display: flex;
  background: #333;
  height: 250px;
  width: 250px;
  overflow: hidden;
  justify-content: center;
}

.Work>.preview-image>img {
  height: 100%;
}

.Work>.detail {
  flex-grow: 3;
  display: flex;
  padding: 20px;
  width: 380px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #EEEEEE;
}
